html{
    background-color: #666666;
}


body{
    width: 96%;
    margin: auto;
}


#logo{
    height: 100px;
    width: 230px;
    float: left;
    /* clear: right; */
    /* background-color: black; */
    padding: 3px;
    padding-bottom: 3px;
    margin-left: 4px;
}

ul li {
    display: inline;
    float: right;
    padding: 5px;
    /* text-align: center; */
    line-height: 34px;
    vertical-align: middle;
    
}

ul li a {
    text-decoration: none;
    align-items: center;
    font-size: 23px;
   float: right;
   padding: 5px;
   color: white;
   /* background-color: wheat; */
    
}
ul{
    list-style-type: square;
    float: right;
    vertical-align: middle;
    margin-top: 25px;
}

#bg{
   
  height: 100px;
  background-color: black;
  
  background-size: cover;
}

.bg1{
    
    height: 450px;
    width: 100%;
    background-size: cover;
    /* opacity: 0.7; */
    position: relative;
}

.bg1::before{
    content: "";
    background-image: url('./bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
.bg1 H1{
    font-weight: bold;
    color: #000000;
    opacity: 1.0;
    position: relative;
    display: inline;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 130px;
    top: -70px;
}

#title{
    display: inline;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}
img{
    opacity: 1.0;
    position: relative;
    background-image: none;
    margin-left: 24px;

}


.b1{
    position: relative;
    text-decoration: none;
    top: 35px;
    left:905px;
    background-color: rgb(18, 5, 94);
    padding: 10px 10px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin-top: 175px;
    margin-right: 60px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#s{
    background-color: black;
    height: 65px;
    width: 100%;
    float: left;
    display: block;
    opacity: 0.85;
}

#MY{
    color: white;
    
    vertical-align: middle;
    padding: 3px;    
    text-align: center;
}

#about{
    background-color: rgb(236, 236, 171);;
}

#half{
    background-color: rosybrown;
}

p{
    /* padding-left: 250px; */
    /* padding-right: 280px; */
    /* margin-left: 15px ; */
    /* /* margin-right: 100px; */
    font-size: 25px; 
   
    
}
.card{
    /* box-shadow: 0 8px 16px 10px rgba(0,0,0,0.5); */
    width: 50%;
    padding: 2px 16px;
    border-radius: 5px 5px 0 0;
    float: left;
}
.card:hover {
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.5);
  }
  
  
  .container {
    padding: 2px 16px;
  }

  .card #half{
      float: right;
    /* display: inline; */
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.5);
    width: 50%;
    padding: 2px 16px;
    border-radius: 5px 5px 0 0;
}

#main{
    background-color: #a34e4e;
}
.float-child{
    float: right;
    margin-top: 360px;
}

#skills{
    clear: both;
    text-align: center;
    background-color:black;
    color: white;
}
#fb{
    clear: both;
}
.fa-facebook-f{
    clear: both;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    margin-left: 6px;
    float: left;
}

.fa-twitter{
    background-color: lightskyblue;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    float: left;
    margin-left: 6px;
}

.fa-instagram{
    background-color: purple;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    float: left;
    margin-left: 6px;
}

#contact_us{
    clear: both;
}

.skill1{
    clear: both;
    text-align: center;
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.5);
    background-color: turquoise;
}